@import 'flexbox'

$break-extra-large: 1200px
$break-large: 945px
$break-medium: 800px
$break-small: 640px
$break-extra-small: 500px

@mixin all-transitions
  +transition(.2s linear)

@mixin transition($transition...)
  transition: #{$transition}

@mixin transform($str...)
  transform: $str

@mixin transform-origin($str...)
  transform-origin: $str

@mixin appearance($str...)
  -webkit-appearance: none
  -moz-appearance: none
  appearance: none

@mixin animation($str...)
  animation: $str

@mixin pie-clearfix
  &:after
    content: ""
    display: table
    clear: both

*, *::before, *::after
  box-sizing: border-box

*
  margin: 0
  padding: 0
  border: 0

body
  line-height: 1.5
  -webkit-font-smoothing: antialiased

img, picture, video, canvas, svg, iframe, embed, audio
  display: block
  max-width: 100%

input, button, textarea, select
  +appearance(none)
  border: 0
  background: none
  color: inherit
  font: inherit

button
  cursor: pointer

p, h1, h2, h3, h4, h5, h6
  overflow-wrap: break-word

ol, ul
  list-style: none
