@import 'config'

.cart_items
  border-top: 2px solid $border-color
  list-style: none
  margin: 15px 0
  padding: 0
  
  li
    +pie-clearfix
    display: block
    border-bottom: 2px solid $border-color
    padding: 8px 0
    
    >div
      float: left
      
.cart_footer
  margin-bottom: 10px
  text-align: right