.empty-cart-message
  display: none

  a
    text-decoration: underline

  .empty-cart &
    display: block

.cart-items
  border-top: 1px solid var(--border-color)
  padding: 0

.cart-item
  +flexbox
  +align-items(center)
  border-bottom: 1px solid var(--border-color)
  padding: 24px 0

  @media screen and (max-width: $break-small)
    +flex-wrap(wrap)
    +align-items(flex-start)
    padding: 16px 0

.cart-item-image
  +flex-shrink(0)
  border-radius: var(--border-radius)
  display: block
  height: 90px
  margin-right: 16px
  width: 90px

  @media screen and (max-width: $break-small)
    height: 60px
    margin-right: 8px
    width: 60px

  img
    border-radius: var(--border-radius)
    display: block
    object-fit: cover
    height: 100%
    width: 100%

.cart-item-details
  line-height: 1.25em
  padding-right: 24px
  width: 55%

  @media screen and (max-width: $break-small)
    +flex(1)
    +flex-basis(30%)
    padding-right: 16px

.cart-item-details-name
  font-family: var(--primary-font)
  font-size: 1.125em

  @media screen and (max-width: $break-small)
    font-size: 1em

.cart-item-details-option
  font-family: var(--secondary-font)
  font-size: .925em
  margin-top: 5px

.cart-item-quantity-price
  +flexbox
  +align-items(center)
  +justify-content(flex-end)
  width: 45%

  @media screen and (max-width: $break-small)
    +flex(1)
    +flex-direction(column)
    +align-items(flex-end)
    width: 45%

.cart-item-details-price
  margin-right: 24px
  padding-left: 16px

  @media screen and (max-width: $break-small)
    margin-right: 0
    margin-top: 16px

.cart-item-quantity-holder
  margin-right: auto

  @media screen and (max-width: $break-small)
    margin-right: 0

  input
    height: 48px
    padding: 10px
    text-align: center
    width: 64px

    @media screen and (max-width: $break-medium)
      height: 40px
      padding: 5px
      width: 56px

button.cart-item-remove
  +flexbox
  +align-items(center)
  +justify-content(center)
  +flex-shrink(0)
  background: none
  border-radius: 50%
  height: 32px
  padding: 0
  width: 32px

  @media screen and (max-width: $break-small)
    display: none

  &:hover, &:focus
    background: none

    .cart-item-remove-icon
      fill: var(--hover-color)

  .cart-item-remove-icon
    display: block
    fill: var(--secondary-text-color)
    height: 16px
    width: 16px

button.cart-item-remove-text
  color: var(--link-color)
  display: none
  height: auto
  line-height: normal
  margin: 0
  margin-top: 6px
  padding: 0
  text-decoration: underline
  width: auto

  @media screen and (max-width: $break-small)
    display: inline-block

.cart_footer
  text-align: right

.cart_total
  color: var(--header-color)
  font-family: var(--primary-font)
  font-weight: 500
  margin: 0
  font-size: 24px
  padding: 30px 0
  text-align: right

  > span
    display: inline-block
    margin-left: 8px

.cart_footer_buttons
  display: flex
  justify-content: flex-end
  flex-direction: column
  gap: 24px

  .button
    margin-left: auto
    display: flex
    align-items: center
    justify-content: center
    width: 300px

    @media screen and (max-width: $break-small)
      width: 100%

  .continue_shopping
    text-decoration: underline

  @media screen and (max-width: $break-small)
    flex-direction: column