.empty-cart-message
  display: none

  a
    text-decoration: underline

  .empty-cart &
    display: block

.cart-items
  border-top: 1px solid $border-color
  padding: 0

.cart-item
  +flexbox
  +align-items(center)
  border-bottom: 1px solid $border-color
  padding: 24px 0

  @media screen and (max-width: $break-small)
    +flex-wrap(wrap)
    +align-items(flex-start)
    padding: 16px 0

.cart-item-image
  +flex-shrink(0)
  border-radius: $border-radius
  display: block
  height: 90px
  margin-right: 16px
  width: 90px

  @media screen and (max-width: $break-small)
    height: 60px
    margin-right: 8px
    width: 60px

  img
    border-radius: $border-radius
    display: block
    object-fit: cover
    height: 100%
    width: 100%

.cart-item-details
  line-height: 1.25em
  padding-right: 24px
  width: 55%

  @media screen and (max-width: $break-small)
    +flex(1)
    +flex-basis(30%)
    padding-right: 16px

.cart-item-details-name
  font-family: $primary-font
  font-size: 1.125em

  @media screen and (max-width: $break-small)
    font-size: 1em

.cart-item-details-option
  font-family: $secondary-font
  font-size: .925em
  margin-top: 5px

.cart-item-quantity-price
  +flexbox
  +align-items(center)
  +justify-content(flex-end)
  width: 45%

  @media screen and (max-width: $break-small)
    +flex(1)
    +flex-direction(column)
    +align-items(flex-end)
    width: 45%

.cart-item-details-price
  margin-right: 24px
  padding-left: 16px

  @media screen and (max-width: $break-small)
    margin-right: 0
    margin-top: 16px

.cart-item-quantity-holder
  margin-right: auto

  @media screen and (max-width: $break-small)
    margin-right: 0

  input
    height: 48px
    padding: 10px
    text-align: center
    width: 64px

    @media screen and (max-width: $break-medium)
      height: 40px
      padding: 5px
      width: 56px

button.cart-item-remove
  +flexbox
  +align-items(center)
  +justify-content(center)
  +flex-shrink(0)
  background: none
  border-radius: 50%
  height: 32px
  padding: 0
  width: 32px

  @media screen and (max-width: $break-small)
    display: none

  &:hover, &:focus
    background: none

    .cart-item-remove-icon
      fill: $hover-color

  .cart-item-remove-icon
    display: block
    fill: $secondary-text-color
    height: 16px
    width: 16px

button.cart-item-remove-text
  color: $link-color
  display: none
  height: auto
  line-height: normal
  margin: 0
  margin-top: 6px
  padding: 0
  text-decoration: underline
  width: auto

  @media screen and (max-width: $break-small)
    display: inline-block

.cart_footer
  +pie-clearfix
  clear: both
  text-align: right

  .cart_total
    color: $header-color
    font-family: $primary-font
    font-weight: 500
    margin: 0
    font-size: 24px
    padding: 30px 0
    text-align: right

    > span
      display: inline-block
      margin-left: 8px

  h4
    color: $text-color
    font-size: 14px
    margin-bottom: 10px
    text-align: right

    > span
      display: inline-block
      margin-left: 10px

  h4 + h3
    margin-top: 20px

  .small_message
    font-size: 13px

  button, .button
    margin-left: 12px
    padding: 0 35px

    @media screen and (max-width: $break-extra-small)
      float: none
      margin: 5px 0
      width: 100%

    &.checkout_btn
      max-width: 300px
      width: 48%

      @media screen and (max-width: $break-medium)
        margin: 0 0 10px
        max-width: 100%
        width: 100%

a.button.continue_shopping
  border-radius: $border-radius
  border: 1px solid $link-color
  color: $link-color
  float: left
  margin-left: 0
  max-width: 300px
  width: 48%

  &:hover, &:focus
    border-color: $hover-color
    color: $hover-color

  @media screen and (max-width: $break-medium)
    border: 1px solid transparent !important
    float: none
    margin: 0
    max-width: 100%
    width: 100%

.empty_cart
  @media only screen and (max-width: $break-medium)
    text-align: center
