@import 'config'

.cart_form

  .cart_items 
    border-top: 1px solid $border-color
    padding: 0
    
    li
      +pie-clearfix
      border-bottom: 1px solid $border-color
      display: block
      font-size: 16px
      font-weight: 900
      height: 100px
      line-height: 18px
      overflow: hidden
      padding: 15px 0

      @media screen and (max-width: $break-extra-small)
        font-size: 15px
      
      a.product_image
        +vertical-align
        float: left
        height: 100%
        margin-right: 10px
        max-width: 100px
        text-align: center
        width: 100%
        
        @media screen and (max-width: $break-medium)
          max-width: 60px
        
        @media screen and (max-width: $break-extra-small)
          display: none
          
        img
          +vertical-align
          display: block
          margin: 0 auto
          max-height: 100%
          width: auto
          
          @media screen and (max-width: $break-medium)
            max-width: 60px
        
      .product_details
        +vertical-align  
        float: left
        height: 80px
        max-width: 280px
        width: auto
        
        @media screen and (max-width: $break-large)
          max-width: 30%
        
        @media screen and (max-width: $break-medium)
          max-width: 42%
        
        a  
          +vertical-align
          color: $header-color
          display: block
        
          span 
            display: block
            font-size: 13px
            font-weight: normal
            line-height: 18px
            margin-top: 3px
            
            @media screen and (max-width: $break-extra-small)
              font-size: 13px
              line-height: 14px
  
      .product_actions
        +vertical-align
        float: right
        max-width: 400px
        text-align: right
        
        @media screen and (max-width: $break-medium)
          max-width: 58%
          
        div 
          display: inline-block
  
          &.quantity 
            width: 55px
            
            input[type='text']
              +border-radius(2px)
              height: 46px
              font-size: 15px
              text-align: center
              text-indent: 0
              width: 56px
              
              @media screen and (max-width: $break-extra-small)
                font-size: 16px
                height: 46px
                width: 46px
  
          &.price 
            width: 160px
            
            @media screen and (max-width: $break-large)
              width: 95px
  
          &.remove 
            text-align: center
            width: 46px
            
            @media screen and (max-width: $break-medium)
              width: 35px
            
            a  
              svg
                +all-transitions
                cursor: pointer
                fill: $link-color
                height: 16px
                position: relative
                top: 2px
                width: 16px

                @media screen and (max-width: $break-extra-small)
                  height: 14px
                  width: 14px
              
              &:hover svg  
                fill: $hover-color
                
      @media screen and (max-width: $break-small)
        height: 100px
  
  .cart_footer
    +pie-clearfix
    margin-top: 30px
    text-align: right

    h3
      font-size: 22px
      line-height: 22px
      margin-bottom: 30px
      text-align: right
      
      > span
        display: inline-block
        margin-left: 10px
        width: 120px
    
    h4
      font-size: 19px
      margin-bottom: 10px
      text-align: right
      
      > span
        display: inline-block
        margin-left: 10px
        width: 120px
        
    h4 + h3
      margin-top: 20px
        
    .small_message
      font-size: 13px
    
    button, .button
      margin-left: 12px
      padding: 0 35px
      
      @media screen and (max-width: $break-extra-small)
        float: none
        margin: 5px 0
        width: 100%

    .continue_shopping
      float: left
      margin-left: 0
      
      @media screen and (max-width: $break-extra-small)
        float: none
        margin: 5px 0
        width: 100%
        
  .cart_shipping_discounts  
    +pie-clearfix
    border-bottom: 1px solid $border-color
    height: 88px
    padding: 20px 0
    
    @media screen and (max-width: $break-medium)
      height: 110px
      
    @media screen and (max-width: $break-small)
      height: auto
    
    .cart_shipping, .cart_discounts
      +vertical-align
      float: right
      text-align: center
      width: 50%
      
      @media screen and (max-width: $break-small)
        +transform(none)
        float: none
        top: auto
        width: 100%
        
      label
        display: inline-block
        font-family: $primary-font
        font-weight: 600
        margin: 0 15px
        
        @media screen and (max-width: $break-medium)
          display: block
          margin-bottom: 10px
      
    .cart_shipping
    
      .select
        border: 2px solid $link-color
        display: inline-block
        margin: 0 auto
        max-width: 50%
        width: 100%
        
        @media screen and (max-width: $break-medium)
          max-width: 75%
        
        @media screen and (max-width: $break-small)
          max-width: 100%
        
        svg
          fill: $link-color
        
        &:hover
          border-color: $hover-color
          
          svg
            fill: $hover-color
            
      @media screen and (max-width: $break-small)
        margin-top: 20px
      
    .cart_discounts  
  
      input
        font-size: 14px
        height: 47px
        margin: 0 auto
        max-width: 50%
        width: 100%
        
        @media screen and (max-width: $break-medium)
          max-width: 75%
          
        @media screen and (max-width: $break-small)
          max-width: 100%
        
      p
        font-size: 18px
        font-weight: 900px
        line-height: 48px
        margin: 0

.empty_cart
  @media only screen and (max-width: $break-medium)
    text-align: center