.contact_form
  &>div
    margin-bottom: 20px
    text-align: left

    @media screen and (max-width: $break-small)
      margin-bottom: 15px

  .contact_send
    @media screen and (max-width: $break-small)
      text-align: center

      button
        margin-left: 0

  input, textarea
    width: 100%

  textarea
    height: 220px
    display: block

  label
    display: block
    margin-bottom: 10px

  .contact_name, .contact_send, .contact_email
    display: inline-block
    position: relative
    width: 48%

    @media screen and (max-width: $break-small)
      display: block
      width: 100%

  .contact_name
    float: left

    @media screen and (max-width: $break-small)
      float: none

  .contact_email
    float: right

    @media screen and (max-width: $break-small)
      float: none

  .contact_recaptcha
    width: 100%

  .recaptcha_note
    display: block
    font-size: 14px
    margin-top: 5px

  .contact_send
    text-align: center
    width: 100%

    @media screen and (max-width: $break-small)
      text-align: center

    button
      margin: 40px auto
      width: 320px

      @media screen and (max-width: $break-small)
        width: 100%