@import 'config'

.contact_fields
  margin: 0 auto
  max-width: 80%
  width: 100%
  
  @media only screen and (max-width: $break-medium)
    max-width: 100%
  
  li
    +pie-clearfix
    border-bottom: 1px solid $border-color
    display: block
    padding: 12px 0
    position: relative
    
    &:last-child
      border-bottom: 0

    > div
      float: left
      position: relative
      width: 55%

      @media only screen and (max-width: $break-small)
        width: 100%

      input[type='text']
        padding-right: 143px
        width: 100%

    @media only screen and (max-width: $break-small)
      margin: 0

    label
      float: left
      font-family: $primary-font
      font-size: 16px
      line-height: 39px
      padding-right: 15px
      text-align: right
      width: 25%

      @media only screen and (max-width: $break-small)
        clear: both
        margin: 0
        text-align: left
        width: 100%

    input[type='text'], textarea
      float: left
      height: 39px
      width: 55%

      @media only screen and (max-width: $break-small)
        width: 100%

    span
      +pie-clearfix
      font-size: 12px
      display: inline-block
      margin-top: 16px
      white-space: nowrap

    .captcha_image
      +pie-clearfix
      border: 2px solid $link-color
      display: block
      height: 39px
      max-width: 128px
      position: absolute
      right: 0
      text-align: center

      img
        height: 100%
        width: auto

    textarea
      height: 200px

button.send_message
  display: block
  margin: 40px auto 70px
  max-width: 200px
  width: 100%