@import 'config'

.flexslider
  +border-radius(2px)
  background: none
  border: 0
  height: 100%
  margin-bottom: 35px

  .slides
    transform-style: preserve-3d
    -webkit-transform-style: preserve-3d

    >li
      +transform(translateZ(0px))

  .flex-viewport
    transform-style: preserve-3d
    -webkit-transform-style: preserve-3d
    -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC)

  .flex-direction-nav li a
    +transition(all .1s ease-in)
    background-image: url(#{"{{ 'slideshow_arrows.png' | theme_image_url }}"})
    background-repeat: no-repeat
    background-color: rgba(0,0,0,.7)
    background-size: 65px auto
    border: 0
    height: 66px
    margin: -33px 0 0
    position: absolute
    text-indent: 35px
    width: 33px

    &:hover
      background-color: rgba(0,0,0,1)

  .flex-prev
    +border-radius(2px)
    background-position: 6px 15px
    left: 18px
    
    @media screen and (max-width: $break-medium)
      display: none

  .flex-next
    +border-radius(2px)
    background-position: -38px 15px
    right: 18px
    text-indent: 9999px
    
    @media screen and (max-width: $break-medium)
      display: none

.flex-control-nav
  bottom: 10px
  position: absolute
  right: 15px
  width: auto
  z-index: 10

  @media screen and (max-width: $break-medium)
    display: none

.flex-control-paging li a, .flex-control-paging li a.flex-active, .flex-control-paging li a:hover
  display: none
