@import 'config'

*
  box-sizing: border-box

html
  background-color: $secondary-background
  overflow-y: scroll

body
  background-color: $background-color
  color: $text-color
  font-family: $secondary-font
  
  &.standalone
    background-color: $secondary-background
    padding: 100px 15px
    
    .message_holder
      +border-radius(2px)
      background-color: $background-color
      border: 1px solid $border-color
      margin: 0 auto
      max-width: 600px
      padding: 40px 30px
      text-align: center
      width: 100%
      
      h1
        margin: 0
        
      p:last-child
        margin: 15px 0 0

a, a:visited
  +all-transitions
  color: $link-color
  text-decoration: none

  &:hover
    color: $hover-color

h1, h2, h3, h4, h5, h6
  color: $header-color
  font-family: $primary-font
  font-weight: 600

img
  display: block
  max-width: 100%

p
  font-size: 14px
  line-height: 1.5em
  margin: 6px 0

h1
  font-size: 26px
  font-weight: 600
  line-height: 1.3em
  margin-bottom: 15px
  
  @media only screen and (max-width: $break-medium)
    text-align: center

h2
  font-size: 18px
  line-height: 18px

.mobile_nav
  +box-shadow(0px 1px 3px $border-color)
  background-color: $background-color
  border-bottom: 1px solid $border-color
  position: absolute
  top: 0px
  height: 43px
  display: none
  width: 100%
  padding: 10px
  font-size: 21px

  @media only screen and (max-width: $break-medium)
    display: block
    z-index: 3

  .open_menu
    +transform(rotate(0deg))
    +transition(.5s ease-in-out)
    display: block
    float: left
    height: 18px
    position: relative
    width: 26px

    span
      +border-radius(2px)
      +transform(rotate(0deg))
      +transition(.25s ease-in-out)
      display: block
      background: $header-color
      width: 100%
      height: 3px
      position: absolute
      left: 0
      opacity: 1

      &:nth-child(1)
        top: 0px

      &:nth-child(2), &:nth-child(3)
        top: 50%

      &:nth-child(4)
        top: 99%

    &.open
      span
        &:nth-child(1)
          top: 18px
          width: 0%
          left: 50%

        &:nth-child(2)
          +transform(rotate(45deg))

        &:nth-child(3)
          +transform(rotate(-45deg))

        &:nth-child(4)
          top: 18px
          width: 0%
          left: 50%


  &:hover, &:focus
    .line-1
      +transform(translateY(-2px))

    .line3
      +transform(translateY(2px))

  .mobile_cart
    +vertical-align
    float: right
    font-size: 16px
    position: relative
    
    .cart_icon
      height: 21px
      width: 21px
      position: absolute
      left: -28px
      top: -3px

.wrap
  +pie-clearfix
  margin: 0 auto
  max-width: 1100px
  padding: 0 10px
  width: 100%
  
  @media only screen and (max-width: $break-medium)
    padding: 0 40px
    
  @media only screen and (max-width: $break-small)
    padding: 0 10px

header
  background: $secondary-background
  border-bottom: 1px solid $border-color
  font-family: $primary-font
  font-size: 28px
  padding: 30px 0
  margin-bottom: 40px
  text-align: #{"{{ theme.header_position }}"}

  @media only screen and (max-width: $break-medium)
    padding: 0 15px 30px
    margin: 75px 0 40px
    
  a.store_header
    color: $header-color
    display: inline-block
    font-size: 44px
    
    @media only screen and (max-width: $break-medium)
      font-size: 36px
      
    @media only screen and (max-width: $break-small)
      font-size: 30px
  
    img
      max-width: 100%

.hidden
  display: none

.content
  +pie-clearfix
  float: #{"{% if theme.sidebar_position == 'right' %} left {% else %} right {% endif %}"}
  position: relative
  padding-bottom: 100px
  width: 80%

  @media only screen and (max-width: $break-medium)
    float: none
    padding-bottom: 30px
    width: 100%

aside
  background-color: $background-color
  +border-radius(2px)
  float: #{"{% if theme.sidebar_position == 'right' %} right {% else %} left {% endif %}"}
  width: 17%

  @media only screen and (max-width: $break-medium)
    +border-radius(0)
    display: none
    position: absolute
    top: 48px
    height: auto
    left: 0
    opacity: 0
    padding: 0 10px
    visibility: hidden
    width: 100%

  &.open
    display: block
    opacity: 1
    padding-top: 10px
    visibility: visible
  
  h3
    border-bottom: 1px solid $border-color
    font-size: 17px
    line-height: 1.3em
    padding: 0 0 4px

  .side_cart
    +border-radius(2px)
    background: $secondary-background
    border: 1px solid $border-color
    font-size: 14px
    padding: 10px 8px
    
    @media only screen and (max-width: $break-medium)
      display: none
    
    a
      +pie-clearfix
      display: block
      position: relative
      
      .cart_title
        float: left
        margin-left: 24px
        
      .cart_numbers
        float: right
        
      .cart_icon
        fill: $link-color
        height: 19px
        margin-top: -3px
        margin-right: 8px
        position: absolute
        width: 19px

    &:hover
      .cart_icon
        fill: $hover-color
      
  ul
    list-style: none
    margin: 0
    padding: 0

    li
      display: block

      a
        border-bottom: 1px solid $border-color
        display: block
        font-size: 13px
        padding: 4px 0
        line-height: 21px
        
        @media only screen and (max-width: $break-medium)
          font-size: 15px
          padding: 8px 0

  >div
    margin-bottom: 20px

    &:first-child
      margin-top: 0
      

footer
  background: $secondary-background
  border-top: 1px solid $border-color
  clear: both
  height: 150px
  margin-top: 70px
  font-size: 16px
  padding-top: 25px
  
  @media only screen and (max-width: $break-medium)
    margin-top: 20px

  .footer_left
    float: left
    text-align: left
    
    @media only screen and (max-width: $break-medium)
      float: none
      text-align: center
      width: 100%
      
      > a
        display: block
        margin-top: 15px

  .footer_right
    float: right
    
    @media only screen and (max-width: $break-medium)
      float: none
      text-align: center
      width: 100%

  .social_icons
    +pie-clearfix
    border-bottom: 0
    font-size: 22px
    
    @media only screen and (max-width: $break-medium)
      margin: 25px 0

    li
      float: left
      margin-left: 15px
      
      @media only screen and (max-width: $break-medium)
        display: inline-block
        float: none
        margin: 0 10px
        text-align: center

      a
        border: 0px
        display: block
        text-align: center

        svg
          +all-transitions
          fill: $link-color
          height: 22px
          width: 22px

      &:hover svg
        fill: $hover-color

.errors
  +border-radius(2px)
  background: #EA4859
  color: #FAFAFA
  font-size: 15px
  line-height: 20px
  margin-bottom: 15px
  padding: 14px 16px
  
  @media only screen and (max-width: $break-medium)
    text-align: center

input, textarea
  +all-transitions
  +appearance(none)
  +border-radius(2px)
  background: $background-color
  border: 2px solid $link-color
  color: $link-color
  font-family: $secondary-font
  font-size: 17px
  padding: 8px 10px

  &:focus
    border: 2px solid $hover-color
    color: $hover-color
    outline: none

button, a.button
  +all-transitions
  +border-radius(2px)
  background-color: $background-color
  border: 2px solid $button-color
  color: $button-color
  cursor: pointer
  display: inline-block
  font-family: $primary-font
  font-size: 12px
  letter-spacing: .05em
  line-height: 15px
  outline: none
  padding: 13px 22px
  text-transform: uppercase

  &:hover, &:focus
    background-color: $button-color
    border: 2px solid $button-color
    color: $background-color

    
  &:active
    background-color: $button-color
    border: 2px solid $button-color
    color: $background-color
    
.select
  +all-transitions
  +border-radius(2px)
  position: relative
  border: 2px solid $button-color
  height: 38px
  margin-bottom: 15px
  padding: 0
  position: relative
  max-width: 80%
  width: 100%

  select
    +all-transitions
    +appearance(none)
    background: none
    border: 0
    font-size: 14px
    height: 100%
    padding: 0 32px 0 8px
    position: relative
    width: 100%
    z-index: 2

    option
      background-color: #FFF
      color: #000

    &:focus
      box-shadow: none
      outline: none

    &::-ms-expand
      display: none

  svg
    +all-transitions
    fill: $button-color
    height: 8px
    margin-top: -4px
    position: absolute
    right: 12px
    top: 50%
    width: 13px
    z-index: 1

  &:hover
    border-color: $hover-color

    svg
      fill: $hover-color