@import 'config'

*
  box-sizing: border-box

html
  overflow-y: scroll
    
body
  background-color: $background-color
  font-family: $body-font

a, a:visited
  color: $link-color
  text-decoration: none
  
  &:hover
    color: $hover-color
    
h1, h2, h3, h4, h5, h6
  color: $header-color
  font-family: $header-font
  font-weight: bold

img
  display: block
  max-width: 100%
  
p
  margin: 6px 0
  
h1
  font-size: 22px
  font-weight: 600
  line-height: 22px
  margin-bottom: 15px
  
h2
  font-size: 20px
  line-height: 20px
  
.mobile_nav
  background-color: $background-color
  position: absolute
  top: 0px
  height: 48px
  display: none
  width: 100%
  padding: 10px
  font-size: 21px
  
  .fa-remove
    display: none
  
  @media only screen and (max-width: $break-medium)
    display: block

.wrap
  +pie-clearfix
  margin: 0 auto
  max-width: 1100px
  width: 100%

header
  border-bottom: 2px solid $border-color
  font-family: $header-font
  font-size: 28px
  padding: 20px 0
  margin-bottom: 20px
  text-align: center
  
  @media only screen and (max-width: $break-medium)
    padding: 0 15px
    margin-top: 60px
    
  a
    display: inline-block
    font-size: 46px
  
    img
      display: block
      max-width: 100%
  
.content
  +pie-clearfix
  border-radius: 2px
  float: left
  margin-right: 20px
  position: relative
  padding: 0
  padding-bottom: 100px
  width: 80%
  
  @media only screen and (max-width: $break-medium)
    float: none
    width: 100%
    
aside
  border-radius: 2px
  float: left
  width: 18%
  padding-left: 10px
  
  @media only screen and (max-width: $break-medium)
    position: absolute
    top: 48px
    border-radius: 0px
    left: 0
    width: 100%
    height: 100%
  
  h3
    font-size: 18px
    line-height: 18px
    margin-bottom: 6px

  .side_cart
    
    h3
      margin-bottom: 0px
      
    .button
      display: block
      font-size: 13px
      padding: 10px 0
      text-align: center
      width: 100%
  
  ul
    
    border-bottom: 1px solid $border-color
    list-style: none
    margin: 0
    padding: 0
    
    li
      display: block
        
      a
        border-top: 1px solid $border-color
        display: block
        font-size: 14px
        padding: 6px 0
        line-height: 21px
    
  .side_search
    margin-top: 0 !important
    
    input
      background: none
      border: 1px solid $border-color
      border-radius: 2px
      -webkit-border-radius: 2px
      -moz-border-radius: 2px
      font-size: 13px
      padding: 6px 20px 6px 8px
      width: 100%

      &:focus
        border: 1px solid $hover-color
        
    label
      cursor: pointer
      position: relative
      
      svg
        fill: $border-color
        position: absolute
        right: 10px
        top: 50%
        transform: translateY(-50%)
        -webkit-transform: translateY(-50%)
        -moz-transform: translateY(-50%)
        
  >section
    margin-bottom: 20px
    
    &:first-child
      margin-top: 0
    
  .social_icons
    +pie-clearfix
    border-bottom: 0
    font-size: 22px
    margin-top: -10px
    
    li
      float: left
      width: 20%
      
      a
        border: 0px
        display: block
        text-align: center
    
        svg
          fill: $link-color
          height: 20px
          width: 20px
          
      &:hover svg
        fill: $hover-color
        

aside
  background-color: $background-color
  padding: 0 15px
      

footer
  border-top: 1px solid $border-color
  clear: both
  height: 50px
  margin-top: 25px
  font-size: 15px
  padding-top: 15px
  
  
  .footer_left
    float: left
    text-align: left
    
  .footer_right
    float: right
    
  cite a
    background: url(#{"{{ 'badge.png' | theme_image_url }}"}) no-repeat
    display: block
    float: left
    text-indent: 100%
    overflow: hidden
    white-space: nowrap
    width: 79px
    height: 24px
  
form, input, textarea, submit, input[type='submit'], input[type='text'], button, select
  font-family: #{"{{ theme.body_font | font_family }}"}
  font-style: normal
  -webkit-font-smoothing: antialiased
  -webkit-appearance: none
  -moz-appearance:    none
  appearance:         none
  
  &:focus
    outline: none

.button, a.button
  background-color: $link-color
  border: 0px
  border-radius: 2px
  cursor: pointer
  font-size: 15px
  font-weight: bold
  color: #FFF
  padding: 11px 20px

  &:hover
    background-color: $hover-color

.fa
  cursor: pointer