@import 'config'

*
  box-sizing: border-box

body, html
  height: 100%
  min-height: 100%
  position: relative

body
  +flexbox
  +flex-direction(column)
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased
  background-color: $background-color
  color: $text-color
  font-family: $secondary-font
  line-height: 1

  &.standalone
    background-color: $secondary-background
    padding: 100px 15px

    @media screen and (max-width: $break-medium)
      padding: 60px 15px

    .message_holder
      +border-radius($border-radius)
      background-color: $background-color
      border: 1px solid $border-color
      margin: 0 auto
      max-width: 600px
      padding: 40px
      text-align: center
      width: 100%

      @media screen and (max-width: $break-medium)
        padding: 20px

      h1
        margin: 0
        min-height: 0

      p:last-child
        margin: 15px 0 0

a
  transition: color 0.2s ease, text-decoration-color .2s ease
  color: $link-color
  text-decoration-color: transparent

  &:hover, &:focus
    color: $hover-color
    text-decoration: underline

h1, h2, h3, h4, h5, h6
  display:inline-block
  color: $header-color
  font-family: $primary-font
  font-weight: 500
  margin: 0
  padding: 0

h1
  font-size: 28px
  margin-bottom: 30px

  @media only screen and (max-width: $break-medium)
    text-align: center

img
  display: block
  max-width: 100%

p
  font-size: 16px
  line-height: 1.5em
  margin: 0 0 20px

ul, ol
  list-style-position: inside
  margin: 0
  padding: 0

.mobile_nav
  +box-shadow(0px 1px 3px $border-color)
  +align-items(center)
  +justify-content(flex-start)
  background-color: $background-color
  border-bottom: 1px solid $border-color
  display: none
  height: 60px
  padding: 0 20px
  position: absolute
  top: 0
  width: 100%

  @media only screen and (max-width: $break-large)
    +flexbox
    z-index: 11

  button.open_menu
    +transition(.1s ease-in-out)
    background: none !important
    height: 14px
    position: relative
    width: 22px

    span
      +border-radius($border-radius)
      +transform(rotate(0deg))
      +transition(.1s ease-in-out)
      display: block
      background: $header-color
      width: 100%
      height: 2px
      position: absolute
      left: 0
      opacity: 1

      &:nth-child(1)
        top: 0px

      &:nth-child(2), &:nth-child(3)
        top: 50%

      &:nth-child(4)
        top: 99%

    &.open
      span
        &:nth-child(1)
          top: 18px
          width: 0%
          left: 50%

        &:nth-child(2)
          +transform(rotate(45deg))

        &:nth-child(3)
          +transform(rotate(-45deg))

        &:nth-child(4)
          top: 18px
          width: 0%
          left: 50%


  &:hover, &:focus
    .line-1
      +transform(translateY(-2px))

    .line3
      +transform(translateY(2px))

  .mobile_cart
    +flexbox
    +align-items(center)
    margin-left: auto

    .cart_icon
      display: block
      fill: $link-color
      height: 22px
      margin-right: 10px
      width: 22px

.wrap
  +flex(1)
  +pie-clearfix
  margin: 0 auto
  max-width: 1300px
  padding: 0 20px 80px
  width: 100%

  @media screen and (max-width: $break-large)
    padding-bottom: 40px

_:-ms-fullscreen, :root .wrap
  +flex(1 0 auto)

header
  background: $secondary-background
  border-bottom: 1px solid $border-color
  font-family: $primary-font
  font-size: 28px
  padding: 50px 0
  margin-bottom: 40px
  text-align: center

  @media only screen and (max-width: $break-large)
    margin: 0 0 40px
    padding: 100px 15px 40px

  a.store_header
    color: $header-color
    display: inline-block
    font-size: 44px

    &:hover, &:active
      color: $hover-color

    &.logo
      height: 140px

      @media screen and (max-width: $break-medium)
        height: 100px

    &.text
      display: inline-block
      line-height: 1.2em
      text-decoration: none
      white-space: normal
      word-wrap: break-word

    img
      height: 100%
      max-width: 100%

  .inner-wrapper
    padding: 0 20px
    +justify-content(#{"{{ theme.header_position }}"})

    @media screen and (max-width: $break-medium)
      +justify-content(center)

.hidden
  display: none

.content
  +pie-clearfix
  float: #{"{% if theme.sidebar_position == 'right' %} left {% else %} right {% endif %}"}
  padding-left: #{"{% if theme.sidebar_position == 'left' %} 30px {% else %} 0 {% endif %}"}
  padding-right: #{"{% if theme.sidebar_position == 'right' %} 30px {% else %} 0 {% endif %}"}
  position: relative
  max-width: 80%
  width: 100%

  @media only screen and (max-width: $break-large)
    float: none
    max-width: 100%
    padding-left: 0
    padding-right: 0

.custom_content
  font-size: 16px
  line-height: 1.5em
  margin: 0 #{"{% if theme.sidebar_position == 'right' %} auto {% endif %}"}
  max-width: 700px
  width: 100%

  a
    font-weight: 600
    text-decoration: underline

  iframe
    max-width: 100%

aside
  background-color: $background-color
  float: #{"{% if theme.sidebar_position == 'right' %} right {% else %} left {% endif %}"}
  width: 20%

  @media only screen and (max-width: $break-large)
    border-bottom: 1px solid $border-color
    display: none
    left: 0
    padding: 80px 20px 0
    position: absolute
    top: 0
    width: 100%
    z-index: 10

    &.open
      display: block

  .nav_title
    color: $header-color
    border-bottom: 1px solid $border-color
    font-size: 22px
    line-height: 1.3em
    margin-bottom: 4px
    padding: 0 0 6px

  .side_cart
    +flexbox
    +align-items(center)
    +justify-content(flex-start)
    +transition(background .2s ease, color .2s ease, border .2s ease)
    +border-radius($border-radius)
    background-color: $background-color
    border: 1px solid $header-color
    color: $header-color
    font-family: $secondary-font
    height: 50px
    margin-bottom: 40px
    padding: 0 10px
    position: relative
    text-decoration: none !important

    @media only screen and (max-width: $break-large)
      display: none

    .cart_title
      margin-left: 6px

    .cart_numbers
      margin-left: auto

      @media only screen and (max-width: 1100px)
        display: none

    .cart_icon
      +transition(fill .2s ease)
      fill: $header-color
      height: 22px
      width: 22px

    &:hover, &:focus, &:active
      background-color: $button-background-color
      border: 1px solid $button-background-color
      color: $button-text-color

      .cart_icon
        fill: $button-text-color

  ul
    list-style: none
    margin: 0
    padding: 0

    li
      display: block

      a
        display: block
        padding: 6px 0
        line-height: 1.3em

        @media screen and (max-width: $break-large)
          font-size: 18px

  nav > div
    margin-bottom: 20px

    &:first-child
      margin-top: 0

.search-form
  +flexbox
  +align-items(center)
  height: 34px
  position: relative

  &:focus-within
    .search-icon
      display: block

.search-input
  border: none !important
  cursor: pointer
  height: auto
  padding: 6px 32px 4px 0
  width: calc(100% + 4px)

  @media screen and (max-width: $break-large)
    font-size: 18px

  &:hover, &:focus
    left: -4px
    padding-left: 4px
    position: absolute

  &::-webkit-input-placeholder
    color: $link-color

  &::-moz-placeholder
    color: $link-color

  &:-ms-input-placeholder
    color: $link-color

  &:-moz-placeholder
    color: $link-color

button.search-button
  +flexbox
  +align-items(center)
  +justify-content(center)
  background: none !important
  height: 20px
  padding: 0
  position: absolute
  right: 5px
  top: 50%
  transform: translateY(-50%)
  width: 20px

.search-icon
  fill: $link-color
  display: none
  height: 16px
  width: 16px

.inner-wrapper
  +flexbox
  +flex-direction(row)
  +align-items(center)
  +justify-content(space-between)
  height: 100%
  margin: 0 auto
  padding: 60px 20px
  max-width: 1300px
  width: 100%

footer
  background: $secondary-background
  border-top: 1px solid $border-color
  width: 100%

  .inner-wrapper
    &>div:only-child
      text-align: center
      width: 100%

    @media only screen and (max-width: $break-medium)
      +flex-direction(column)
      +justify-content(center)
      padding: 0 20px

      .footer_left
        order: 2

      .footer_right
        order: 1

  @media only screen and (max-width: $break-medium)
    height: 160px
    margin-top: 20px

  .social_icons
    +pie-clearfix
    border-bottom: 0
    font-size: 22px
    list-style: none

    @media only screen and (max-width: $break-medium)
      margin: 0 0 25px

    li
      float: left
      margin-left: 22px

      @media only screen and (max-width: $break-medium)
        display: inline-block
        float: none
        margin: 0 10px
        text-align: center

      a
        border: 0px
        display: block
        text-align: center

        svg
          +transition(fill .2s ease)
          display: block
          fill: $link-color
          height: 22px
          width: 22px

      &:hover svg
        fill: $hover-color

.errors
  +border-radius($border-radius)
  background: #950f1e
  color: #FFFFFF
  list-style: none
  margin-bottom: 20px
  padding: 12px 20px

  @media only screen and (max-width: $break-medium)
    text-align: center

a[href], label[for], select, button, .pointer
  cursor: pointer

button, input, textarea, select
  +appearance(none)
  background: none
  border: none
  border-radius: $border-radius
  color: $text-color
  font-family: $primary-font
  font-size: 16px
  height: 54px
  padding: 0

textarea
  height: auto

input, textarea
  background: $background-color
  border: 1px solid $text-color
  color: $text-color
  padding: 8px 10px

  &:hover, &:focus
    border: 1px solid $hover-color
    color: $hover-color

button, a.button
  +transition(background .2s ease)
  background-color: $button-background-color
  border: none
  color: $button-text-color
  cursor: pointer
  display: inline-block
  font-family: $secondary-font
  font-size: $text-size
  height: 54px
  line-height: 54px
  padding: 0
  text-align: center

  &.minimal-button
    background: none
    color: $text-color
    border: none
    font-size: 15px
    padding: 0

    &:not(:disabled):hover, &:not(:disabled):active, &:not(:disabled):focus
      +transform(none)
      box-shadow: none
      background: none
      text-decoration: underline

  &:hover, &:focus
    background-color: $button-background-hover-color

  &:disabled, &.disabled
    background-color: $button-background-color !important
    cursor: not-allowed
    opacity: .4

.select
  +border-radius($border-radius)
  position: relative
  border: 1px solid $button-background-color
  color: $button-background-color
  height: 50px
  margin-bottom: 15px
  padding: 0
  position: relative
  max-width: 80%
  width: 100%

  select
    background: none
    border: 0
    color: $button-background-color
    font-family: $secondary-font
    font-size: 16px
    height: 100%
    line-height: 48px
    padding: 0 38px 0 12px
    position: relative
    width: 100%
    z-index: 2

    option
      background-color: #FFF
      color: #000

    &:focus
      box-shadow: none

    &::-ms-expand
      display: none

  svg
    +all-transitions
    fill: $button-background-color
    height: 8px
    margin-top: -2px
    position: absolute
    right: 14px
    top: 50%
    width: 13px
    z-index: 1

  &:hover, &:focus, &:active
    color: $hover-color
    border-color: $hover-color

    select
      color: $hover-color

    svg
      fill: $hover-color

.sr-only
  border: 0
  clip: rect(0 0 0 0)
  height: 1px
  margin: -1px
  overflow: hidden
  padding: 0
  position: absolute
  width: 1px

