@import 'config'

*
  box-sizing: border-box

html
  overflow-y: scroll

body
  background-color: $background-color
  color: $text-color
  font-family: $body-font

a, a:visited
  +all-transitions
  color: $link-color
  text-decoration: none

  &:hover
    color: $hover-color

h1, h2, h3, h4, h5, h6
  color: $header-color
  font-family: $header-font
  font-weight: bold

img
  display: block
  max-width: 100%

p
  line-height: 22px
  margin: 6px 0

h1
  font-size: 26px
  font-weight: 600
  line-height: 26px
  margin-bottom: 15px

h2
  font-size: 20px
  line-height: 20px

.mobile_nav
  background-color: $background-color
  position: absolute
  top: 0px
  height: 48px
  display: none
  width: 100%
  padding: 10px
  font-size: 21px

  @media only screen and (max-width: $break-medium)
    display: block

  .open_menu
    +transform(rotate(0deg))
    +transition(.5s ease-in-out)
    display: block
    float: left
    height: 18px
    position: relative
    width: 26px

    span
      +border-radius(2px)
      +transform(rotate(0deg))
      +transition(.25s ease-in-out)
      display: block
      background: $header-color
      width: 100%
      height: 3px
      position: absolute
      left: 0
      opacity: 1

      &:nth-child(1)
        top: 0px

      &:nth-child(2), &:nth-child(3)
        top: 50%

      &:nth-child(4)
        top: 99%

    &.open
      span
        &:nth-child(1)
          top: 18px
          width: 0%
          left: 50%

        &:nth-child(2)
          +transform(rotate(45deg))

        &:nth-child(3)
          +transform(rotate(-45deg))

        &:nth-child(4)
          top: 18px
          width: 0%
          left: 50%


  &:hover, &:focus
    .line-1
      +transform(translateY(-2px))

    .line3
      +transform(translateY(2px))

  .mobile_cart
    +vertical-align
    float: right
    font-size: 16px

.wrap
  +pie-clearfix
  margin: 0 auto
  max-width: 1100px
  padding: 0 10px
  width: 100%

header
  font-family: $header-font
  font-size: 28px
  padding: 20px 0
  margin-bottom: 20px
  text-align: #{"{{ theme.header_position }}"}

  @media only screen and (max-width: $break-medium)
    padding: 0 15px
    margin-top: 60px

  a
    display: inline-block
    font-size: 46px

    img
      display: block
      max-width: 100%

.hidden
  display: none

.content
  +pie-clearfix
  +border-radius(2px)
  float: #{"{% if theme.sidebar_position == 'right' %} left {% else %} right {% endif %}"}
  position: relative
  padding: 0
  padding-bottom: 100px
  width: 80%

  @media only screen and (max-width: $break-medium)
    float: none
    width: 100%

aside
  +transition(.25s ease-in-out)
  background-color: $background-color
  +border-radius(2px)
  float: #{"{% if theme.sidebar_position == 'right' %} right {% else %} left {% endif %}"}
  width: 18%

  @media only screen and (max-width: $break-medium)
    +border-radius(0)
    position: absolute
    top: 48px
    height: 100%
    left: 0
    opacity: 0
    padding: 0 10px
    visibility: hidden
    width: 100%


  &.open
    height: auto
    opacity: 1
    visibility: visible

    .side_cart
      display: none

  h3
    font-size: 18px
    line-height: 18px
    margin-bottom: 6px

  .side_cart

    h3
      margin-bottom: 0px

    .button
      +pie-clearfix
      display: block
      font-size: 14px
      padding: 8px 15px
      width: 100%

      svg
        fill: $background-color
        float: left

      >span
        float: right

    &:hover
      svg
        fill: $link-color

  ul

    border-bottom: 1px solid $border-color
    list-style: none
    margin: 0
    padding: 0

    li
      display: block

      a
        border-top: 1px solid $border-color
        display: block
        font-size: 14px
        padding: 6px 0
        line-height: 21px

  .side_search
    margin-top: 0 !important

    input
      font-size: 12px
      padding: 6px 34px 6px 8px
      width: 100%

    .search_form
      cursor: pointer
      position: relative

      svg
        +all-transitions
        +transform(translateY(-50%))
        fill: $border-color
        position: absolute
        right: 10px
        top: 50%
        
        &:hover
          fill: $hover-color

  >section
    margin-bottom: 20px

    &:first-child
      margin-top: 0

  .social_icons
    +pie-clearfix
    border-bottom: 0
    font-size: 22px
    margin-top: -10px

    li
      float: left
      width: 20%

      a
        border: 0px
        display: block
        text-align: center

        svg
          fill: $link-color
          height: 20px
          width: 20px

      &:hover svg
        fill: $hover-color


footer
  border-top: 2px solid $border-color
  clear: both
  height: 50px
  margin-top: 25px
  font-size: 15px
  padding-top: 15px


  .footer_left
    float: left
    text-align: left

  .footer_right
    float: right

  cite a
    background: url(#{"{{ 'badge.png' | theme_image_url }}"}) no-repeat
    display: block
    float: left
    text-indent: 100%
    overflow: hidden
    white-space: nowrap
    width: 79px
    height: 24px

.errors
  +border-radius(2px)
  background: #ea4859
  color: #FAFAFA
  font-size: 15px
  line-height: 20px
  margin-bottom: 15px
  padding: 14px 16px

input, textarea
  +all-transitions
  +appearance(none)
  +border-radius(2px)
  background: $background-color
  border: 2px solid $border-color
  color: $text-color
  font-family: $body-font
  font-size: 17px
  padding: 8px 10px

  &:focus
    border: 2px solid $hover-color
    color: $hover-color
    outline: none

button, a.button
  +all-transitions
  +border-radius(2px)
  background-color: $link-color
  border: 2px solid $link-color
  color: $background-color
  cursor: pointer
  display: inline-block
  font-size: 15px
  line-height: 15px
  outline: none
  padding: 13px 22px

  &:hover, &:focus
    background-color: $background-color
    color: $link-color
    
  &:active
    background-color: $link-color
    border: 2px solid $link-color
    color: $background-color
    
.select
  +all-transitions
  +border-radius(2px)
  position: relative
  border: 2px solid $link-color
  height: 38px
  margin-bottom: 15px
  padding: 0
  position: relative
  max-width: 80%
  width: 100%

  select
    +all-transitions
    +appearance(none)
    background: none
    border: 0
    font-size: 14px
    height: 100%
    padding: 0 32px 0 8px
    position: relative
    width: 100%
    z-index: 2

    option
      background-color: #FFF
      color: #000

    &:focus
      box-shadow: none
      outline: none

    &::-ms-expand
      display: none

  svg
    +all-transitions
    fill: $link-color
    height: 8px
    margin-top: -4px
    position: absolute
    right: 12px
    top: 50%
    width: 13px
    z-index: 1

  &:hover
    border-color: $hover-color

    svg
      fill: $hover-color