#maintenance
  background-color: var(--secondary-background)
  padding: 100px 15px

  @media screen and (max-width: $break-medium)
    padding: 60px 20px

  .message_holder
    +flexbox
    +align-items(center)
    +justify-content(center)
    +flex-direction(column)
    border-radius: var(--border-radius)
    background-color: var(--background-color)
    border: 1px solid var(--border-color)
    font-size: 1.2em
    margin: 0 auto
    max-width: 600px
    padding: 40px
    text-align: center
    width: 100%

    > * + *
      margin-top: 40px

    .store-name
      font-size: 2em
