@import 'config'

ul.products
  @include flexbox
  @include flex-direction(row)
  @include flex-wrap(wrap)
  margin: 0 -6px 20px
  padding: 0
  position: relative
  
  li
    border-radius: 2px
    display: -webkit-flex
    display: -ms-flexbox
    display: flex
    float: left
    padding: 0 6px 21px 6px
    width: #{"{% if theme.products_per_row == '3' %} 33.33% {% else %} 25% {% endif %}"}
    text-align: center
    
    @media only screen and (max-width: $break-medium)
      width: 50%
    
    @media only screen and (max-width: $break-extra-small)
      width: 100%
    
    a
      display: block
      
      h4
        font-size: 16px
        font-weight: 600
        line-height: 21px
        margin-top: 8px

      h5
        display: inline-block
        font-family: $body-font
        font-size: 14px
        font-weight: normal
        margin-top: 6px
      
      em
        font-size: 13px

      img
        +border-radius(2px)
        +transition(all 0.2s ease-in-out)
        border-radius: 2px
        display: block
        
        width: 100%
        
.pagination
  font-size: 17px
  margin-top: 20px
  text-align: center
  width: 100%
  
  span, a
    padding: 2px 6px
    
    i
      position: relative
      font-size: 12px
  
  .previous
    float: left
    
    i
      right: 4px
    
  .next
    float: right
    
    i
      left: 4px    
    
  .disabled
    display: none

.home .pagination
  display: none