@import 'config'

.product_images
  float: left
  width: 50%
  
  @media only screen and (max-width:550px)
    float: none
    width: 100%
  
  .primary_image
    display: block
    transition: all 0.2s ease-in-out
    width: 100%
    
  .product_thumbnails
    +pie-clearfix
    list-style: none
    margin: 15px -5px 0 -5px
    padding: 0
    
    li
      float: left
      padding: 5px
      width: 25%
      
      img
        display: block
        width: 100%
        opacity: .8

    li.selected
      img
        opacity: 1


.product_pricing, .product_details
  float: right
  padding-left: 20px
  width: 50%
  
  @media only screen and (max-width:550px)
    float: none
    padding: 0
    width: 100%
  
.product_pricing
  
  h2
    margin-bottom: 0
    
  h4
    padding: 0
    font-weight: normal
    margin: 0
    padding-bottom: 6px
    border-bottom: 0
    font-size: 20px
  
.product_details
  margin-top: 15px

  .product_description
    font-size: 14px
    line-height: 18px
    
    p
      margin-bottom: 10px
    
    a
      font-weight: 600

  form
    margin-top: 15px  

    .select
      +border-radius(2px)
      position: relative
      border: 2px solid $link-color
      height: 34px
      padding: 0
      margin-bottom: 15px
      position: relative
      max-width: 80%
      width: 100%
  
      select
        appearance: none
        -moz-appearance: none
        -webkit-appearance: none
        background: none
        border: 0
        font-size: 14px
        height: 100%
        padding: 0 32px 0 8px
        position: relative
        width: 100%
        z-index: 2
        
        option
          background-color: #FFF
          color: #000
          
        &:focus
          box-shadow: none
          outline: none
          
        &::-ms-expand
          display: none
    
      svg
        @include all-transitions
        content: ''
        fill: $link-color
        height: 8px
        margin-top: -4px
        position: absolute
        right: 12px
        top: 50%
        width: 13px
        z-index: 1
      
      &:hover
        border-color: $hover-color
        
        svg
          fill: $hover-color
        