.product-list-container
  margin-top: -10px

.product-list
  +flexbox
  +flex-wrap(wrap)
  +justify-content(flex-start)
  margin: 0 -10px

.product-list-thumb
  border-radius: $border-radius
  color: $header-color
  display: block
  padding: 10px
  padding-bottom: 30px
  position: relative
  text-align: #{"{{ theme.product_detail_alignment }}"}
  vertical-align: middle
  width: calc(100% / #{"{{ theme.max_products_per_row }}"})
  word-break: break-word

  @media screen and (max-width: 1100px)
    width: calc(100% / #{"{% if theme.max_products_per_row == 4 %} 3 {% elsif theme.max_products_per_row == 3 %} 3 {% elsif theme.max_products_per_row == 2 %} 2 {% else %} 1 {% endif %}"})

  @media screen and (max-width: $break-medium)
    width: calc(100% / 3)

  @media screen and (max-width: $break-small)
    padding: 10px
    width: calc(100% / #{"{{ theme.max_products_per_row_mobile }}"})

.product-list-link
  +transition(color .2s ease)
  color: $header-color
  text-decoration: none

  &:hover, &:focus
    color: $hover-color
    text-decoration: none

    .product-list-thumb-name, .product-list-thumb-price
      color: $hover-color

.product-list-image-container
  border-radius: $border-radius
  overflow: hidden
  position: relative

  &.product-list-image-container-default:before
    display: none

  &:before
    display: block
    width: 100%
    content: ""
    padding-bottom: 100%
    height: 0

.product-list-image
  position: absolute
  display: block
  top: 0
  left: 0
  width: 100%
  height: 100%

  &.grid-default
    position: relative

  &.grid-cover
    object-fit: cover

  &.grid-contain
    object-fit: contain

.product-list-thumb-info
  font-size: 1em
  line-height: 1.25em
  padding: 10px 0
  position: relative

.product-list-thumb-name
  +transition(color .2s ease)
  color: $header-color
  font-family: $primary-font
  overflow-wrap: break-word
  position: relative

.product-list-thumb-price
  +transition(color .2s ease)
  color: $secondary-text-color
  font-weight: bold
  font-size: 15px
  margin-top: 6px

.product-list-thumb-status
  display: inline-block
  font-style: italic
  font-weight: normal

.pagination
  +flexbox
  +flex-direction(row)
  +justify-content(space-between)
  +align-items(center)
  border-top: 1px solid $border-color
  line-height: 40px
  padding: 10px 0

  @media screen and (max-width: $break-large)
    font-size: 15px


@media screen and (min-width: $break-small+1)
  .pagination-caption
    display: none

.page-numbers
  +flexbox
  +flex-wrap(wrap)
  +justify-content(center)
  margin: 0 20px

  @media screen and (max-width: $break-small)
    display: none

  .previous, .next
    display: none

  > a, > span
    +flexbox
    +align-items(center)
    +justify-content(center)
    background: $background-color
    border-radius: 100%
    color: $link-color
    text-align: center
    height: 40px
    margin-right: 8px
    order: 1
    position: relative
    text-decoration: none
    width: 40px

    &.current
      background: $button-background-color
      color: $button-text-color

    &.disabled
      cursor: not-allowed
      opacity: .4

  > a
    &:hover, &:focus
      color: $hover-color
      text-decoration: underline

.page-link
  +flexbox
  +align-items(center)
  color: $link-color
  line-height: 40px
  text-align: center
  height: 40px
  padding: 0
  position: relative
  text-decoration: none

  &:not(.disabled):hover, &:not(.disabled):focus
    background: none
    color: $hover-color
    text-decoration: underline

    svg
      fill: $hover-color

  &.next-page-link

    span
      margin-right: 5px

  &.previous-page-link

    span
      margin-left: 5px

    svg
      +transform(rotate(-180deg))

  &.disabled
    cursor: not-allowed
    opacity: 0
    visibility: hidden

  svg
    display: block
    fill: $link-color

#home-page .pagination
  display: none

p.no_products
  @media only screen and (max-width: $break-medium)
    text-align: center