@import 'config'

.product_images
  float: left
  width: 50%
  
  a
    display: block
    outline: none

  @media only screen and (max-width: $break-medium)
    float: none
    margin-top: 15px
    width: 100%

  .primary_image
    +border-radius(2px)
    display: block
    width: 100%

  .product_thumbnails
    +pie-clearfix
    font-size: 0
    margin: 10px -5px 0 -5px
    padding: 0
    text-align: center

    li
      display: inline-block
      padding: 0 5px
      vertical-align: top
      width: 25%

      img
        +border-radius(2px)
        display: block
        width: 100%

.product_pricing, .product_details
  float: right
  padding-left: 20px
  width: 50%

  @media only screen and (max-width: $break-medium)
    float: none
    padding: 0
    width: 100%

.product_pricing

  h1
    margin: -.2em 0 7px

  h2
    font-family: $secondary-font
    font-size: 17px
    font-weight: 400
    line-height: 17px
    margin-bottom: 0

    > span
      vertical-align: middle
      
      &.small_status
        +border-radius(2px)
        background-color: $link-color
        color: $background-color
        font-size: 12px
        font-weight: normal
        padding: 2px 6px
        text-transform: uppercase

  h4
    border-bottom: none
    font-size: 20px
    font-weight: normal
    margin: 0
    padding: 0 0 6px

  @media only screen and (max-width: $break-medium)
    margin-bottom: 40px
    text-align: center

.product_details

  .product_description
    margin: 30px 0

    p
      margin-bottom: 10px

    a
      font-weight: 600

  form
    margin-bottom: 30px
    
    .select
      max-width: 320px
      
      @media only screen and (max-width: $break-medium)
        font-size: 16px
        max-width: 100%
      
    button
      padding-left: 40px
      padding-right: 40px
      
      @media only screen and (max-width: $break-medium)
        padding: 20px 0
        width: 100%

  .share_buttons

    @media only screen and (max-width: $break-medium)
      text-align: center
  
    li
      display: inline-block
      margin-right: 20px
      position: relative
      
      &.social_facebook
        top: -2px
        
      &:last-child
        margin-right: 0
