@import 'config'

ul.products
  margin: 0 -9px 20px
  padding: 0
  position: relative
  
  li
    +border-radius(2px)
    float: left
    padding: 0 9px 25px 9px
    width: #{"{% if theme.products_per_row == 2 %} 50% {% elsif theme.products_per_row == 3 %} 33.33% {% else %} 25% {% endif %}"}
    
    @media only screen and (max-width: $break-medium)
      padding-bottom: 20px
      width: 50%
    
    a
      display: block
      position: relative
      
      h4
        font-size: 14px
        font-weight: 600
        line-height: 1.3em
        margin-top: 8px
        
        @media only screen and (max-width: $break-medium)
          font-size: 14px
          line-height: 1.3em

      h5
        +all-transitions
        color: $text-color
        display: inline-block
        font-family: $secondary-font
        font-size: 14px
        font-weight: 400
        line-height: 1.3em
        margin-top: 6px
        
        @media only screen and (max-width: $break-small)
          font-size: 12px
      
      em
        +border-radius(2px)
        background: $background-color
        color: $text-color
        font-size: 10px
        font-weight: 600
        letter-spacing: .8px
        padding: 6px 9px
        position: absolute
        right: 10px
        text-transform: uppercase
        top: 10px

      img
        +border-radius(2px)
        +all-transitions
        display: block
        width: 100%
        
        &:hover
          opacity: .85
          
    &:hover
      h4
        color: $hover-color

.flexbox ul.products
  @include flexbox
  @include flex-direction(row)
  @include flex-wrap(wrap)
  
  li
    @include flexbox
    float: none
            
.pagination
  border-top: 1px solid $border-color
  font-size: 17px
  margin-top: 20px
  padding-top: 15px
  text-align: center
  width: 100%
  
  @media only screen and (max-width: $break-small)
    font-size: 14px
  
  span, a
    padding: 2px 6px
    
    i
      font-size: 12px
      position: relative
      
  .previous, .next
    svg
      fill: $link-color
      height: 15px
      position: relative
      right: 2px
      top: 1px
      width: 13px
  
  .previous
    float: left
    padding-left: 0
    
    svg
      +rotate(90deg)
    
  .next
    float: right
    padding-right: 0
    
    svg
      +rotate(-90deg)
      right: 0
    
  .disabled
    display: none

.home .pagination
  display: none