@import 'config'

.product_images
  float: left
  max-width: 55%
  width: 100%

  a
    display: block

  @media only screen and (max-width: $break-medium)
    float: none
    margin: 20px 0 40px
    max-width: 100%

  .primary_image
    +border-radius(2px)
    display: block
    width: 100%

  .product_thumbnails
    +pie-clearfix
    font-size: 0
    margin: 10px -5px 0 -5px
    padding: 0
    text-align: center

    li
      display: inline-block
      padding: 0 5px
      vertical-align: top
      width: 25%

      img
        +border-radius(2px)
        display: block
        width: 100%

.product_pricing, .product_details
  float: right
  padding-left: 40px
  padding-right: 20px
  max-width: 45%
  width: 100%

  @media only screen and (max-width: $break-large)
    padding-left: 20px
    padding-right: 0

  @media only screen and (max-width: $break-medium)
    float: none
    max-width: 100%
    padding: 0

.product_pricing

  h1
    margin: -.2em 0 10px
    min-height: 0

  .product_price_status
    +flexbox
    +align-items(center)
    color: $text-color
    font-family: $secondary-font
    font-size: 22px
    margin-bottom: 40px

    @media screen and (max-width: $break-medium)
      +justify-content(center)

    .small_status
      +border-radius(2px)
      border: 1px solid $secondary-text-color
      color: $secondary-text-color
      font-size: 13px
      margin-left: 10px
      padding: 4px 8px
      position: relative
      text-transform: uppercase

  h4
    border-bottom: none
    font-size: 20px
    margin: 0
    padding: 0 0 6px

  @media only screen and (max-width: $break-medium)
    margin-bottom: 40px
    text-align: center

.reset-selection-button-container
  text-align: center
  width: 100%

button.reset-selection-button
  display: none
  height: auto
  max-width: 100%
  line-height: normal
  margin: 20px auto 0
  padding: 4px
  width: auto

.product_details

  .product_description
    font-size: 14px
    line-height: 1.7em
    margin: 0 0 40px

    a
      font-weight: 600
      text-decoration: underline

    iframe
      max-width: 100%

  form
    margin-bottom: 40px

    .select
      margin-bottom: 20px
      max-width: 100%

    .add-to-cart-button
      width: 100%

  .share_buttons

    @media only screen and (max-width: $break-medium)
      text-align: center

    li
      display: inline-block
      margin-right: 20px
      position: relative

      @media screen and (max-width: $break-medium)
        margin: 0 10px

      a
        cursor: pointer
        display: block

        svg
          +all-transitions
          fill: $link-color
          height: 20px
          width: 20px

        &:hover
          svg
            fill: $hover-color

      &.social_pinterest

        a
          display: inline-block
          position: relative

          &:after
            content: ""
            position: absolute
            top: 0
            right: 0
            bottom: 0
            left: 0

.product-form select span, .product-form select span option
  display: none
  opacity: 0
  visibility: hidden

.mfp-arrow
  background: #FFF !important
  height: 45px
  opacity: .4
  width: 45px

  svg
    fill: #000
    height: 20px
    width: 20px

  &:hover
    opacity: 1

  @media (max-width: 900px)
    +transform(scale(.8))

.mfp-preloader
  +animation(loading-animation 1.5s infinite ease-in-out)
  +border-radius(100%)
  background: #FFF
  height: 40px
  margin: 0 auto
  opacity: 1
  width: 40px

+keyframes(loading-animation)
  0%
    -webkit-transform: scale(0.1, 0.1)
    opacity: 0.0
  50%
    opacity: 1.0
  100%
    -webkit-transform: scale(1.2, 1.2)
    opacity: 0.0

#instant-checkout-button
  margin-top: 12px
