{% comment %}
  Use page name from Custo if it's been customized, otherwise use the localized default.
{% endcomment %}
{% assign page_title = t['navigation.cart'] %}
{% if page.name != 'Cart' %}
  {% assign page_title = page.name %}
{% endif %}

<div class="page cart">
  <div class="cart-header">
    <h1>{{ page_title }}</h1>
    {% if cart.item_count > 0 && cart.shareable_link %}
      <a href="{{ cart.shareable_link }}" class="copy-cart-link" data-clipboard-text="{{ cart.shareable_link }}">{{ t['cart.share_this_cart'] }}</a>
    {% endif %}
  </div>
  {% unless cart.items == blank %}

    <form method="post" id="cart_form" class="cart-form" action="/cart" accept-charset="utf8">
      <input type="hidden" name="utf8" value='✓'>

      {% if errors != blank %}
        <ul class="errors">
          {% for error in errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}

      {% if theme.cart_text != blank %}
        <div class="message-banner message-banner--cart">{{ theme.cart_text }}</div>
      {% endif %}

      <ul class="cart-items">
        {% for item in cart.items %}
          <li class="cart-item" data-item-id="{{ item.id }}">

            <div class="cart-item-image-holder">
              <a class="cart-item-image-link" href="{{ item.product.url }}">
                <img src="{{ item.product.image | product_image_url | constrain: 400, 400 }}" alt="{{ item.product.name | escape }}">
              </a>
            </div>

            <div class="cart-item-detail">
              <a href="{{ item.product.url }}">
                <div class="product-name">{{ item.product.name }}</div>
              </a>
              <div class="option-name">
                {% unless item.product.has_default_option %}
                  {{ item.option.name }} - <span class="cart-item-unit-price">{{ item.unit_price | money: theme.money_format }}</span>
                {% else %}
                  <div class="cart-item-unit-price">{{ item.unit_price | money: theme.money_format }}</div>
                {% endunless %}
              </div>
            </div>

            <div class="cart-qty">
              <div class="qty-holder" data-item-id="{{ item.id }}">
                <button title="-1 {{ item.product.name | escape }}" class="qty-button qty-button--decrease" data-func="decrease" type="button" data-item-id="{{ item.id }}">
                  <svg aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" height="20" width="20"><path d="M5 9h10v2H5z"/><path d="M5 9h10v2H5z"/></svg>
                </button>

                <input aria-label="Quantity of {{ item.product.name | escape }}" type="number" autocomplete="off" class="product-quantity" name="cart[update][{{ item.id }}]" min="0" value="{{ item.quantity }}" data-item-id="{{ item.id }}">

                <button title="+1 {{ item.product.name | escape }}" class="qty-button qty-button--increase" data-func="increase" type="button" data-item-id="{{ item.id }}">
                  <svg aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" height="20" width="20"><path d="M11 5H9v4H5v2h4v4h2v-4h4V9h-4z"/></svg>
                </button>
              </div>

              <button class="cart-remove-item cart-remove-item--link button minimal-button" data-item-id="{{ item.id }}" type="button">{{ t['cart.remove'] }}<span class="sr-only">{{ t['cart.remove'] }} {{ item.product.name | escape }}</span></button>
            </div>

            <div class="cart-item-price">
              <span class="cart-item-price__update" data-item-id="{{ item.id }}">{{ item.price | money: theme.money_format }}</span>
            </div>
          </li>
        {% endfor %}
      </ul>

      <div class="cart-footer">
        <div class="cart-subtotal" aria-live="polite" aria-atomic="true">
          <span class="cart-subtotal__label">{{ t['cart.subtotal'] }}:</span>
          <span class="cart-subtotal__amount">{{ cart.total | money: theme.money_format }}</span>
        </div>
        <div class="cart-submit">
          <button type="submit" name="checkout" class="button button--checkout">{{ t['cart.checkout'] }}</button>
          {% if theme.show_bnpl_messaging and cart.items != blank %}
            <div id="payment-processor-messaging">
              <div id="paypal-messaging-container" style="height: 0; overflow: hidden;">
                <div id="paypal-messaging-element"></div>
              </div>
              <div id="stripe-messaging-container" style="height: 0; overflow: hidden;">
                <div id="payment-method-messaging-element"></div>
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    </form>
  {% else %}
    <div class="alert-message">
      <div class="alert-message__text">{{ t['cart.empty_cart'] }}</div>
      <a class="button shop-now" href="/">{{ t['cart.continue_shopping'] }}</a>
    </div>
  {% endunless %}
</div>