<h1>{{ page.name }}</h1>
{% if errors != blank %}
  <ul class="errors">
    {% for error in errors %}
      <li>{{ error }}</li>
    {% endfor %}
  </ul>
{% endif %}
{% if cart.items != blank %}
  <form method="post" action="/cart" id="cart_form" class="cart_form">
    <ul class="cart_items">
      {% for item in cart.items %}
        <li>
          <a href="{{ item.product.url }}" class="item_image">
            <img src="{{ item.product.image | product_image_url }}?auto=format&w=200&h=200&fit=min" alt="{{ item.product.name }}">
          </a>
          <div class="item_details">
            <a href="{{ item.product.url }}">
              {{ item.product.name }}
              {% unless item.product.has_default_option %}
                <span>{{ item.option.name }}</span>
              {% endunless %}
            </a>
          </div>
          <div class="item_actions">
            <div class="quantity">{{ item | item_quantity_input }}</div>
            <div class="price">{{ item.price | money_with_sign }}</div>
            <div class="remove">
              <a href="#" data-item-id="{{ item.id }}"><svg class="remove_icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14.1 14.1" enable-background="new 0 0 14.1 14.1"><path d="M14.1 1.1l-1.1-1.1-6 6-5.9-6-1.1 1.1 6 5.9-6 6 1.1 1.1 5.9-6 6 6 1.1-1.1-6-6z"/></svg></a>
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
    {% if cart.shipping.enabled or cart.discount.enabled %}
      <div class="cart_shipping_discounts">
        {% if cart.discount.enabled %}
          <div class="cart_discounts">
              <input autocomplete="off" id="cart_discount_code" name="cart[discount_code]" type="text" placeholder="Enter discount"{% if cart.discount.code %} value="{{ cart.discount.code }}"{% endif %}>
          </div>
        {% endif %}
        
        {% if cart.shipping.enabled %}
          <div class="cart_shipping">
            <div class="select">
              {{ store.country | country_select }}
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 7.6" enable-background="new 0 0 15 7.6"><path d="M15 1.1l-7.5 6.5-7.5-6.3 1-1.2 6.5 5.5 6.5-5.6z"/></svg>
            </div>
          </div>
        {% endif %}
      </div>
    {% endif %}
    <div class="cart_footer">
      {% if cart.shipping.enabled or cart.discount.enabled %}
        {% if cart.shipping.enabled %}
          <h4>
            Shipping:
            {% if cart.shipping.pending %}
              {% if cart.country %}
                <span class="small_message">Select another country</span>
              {% else %}
                <span class="small_message">Select country</span>
              {% endif %}
            {% else %}
              <span>{{ cart.shipping.amount | money_with_sign }}</span>
            {% endif %}
          </h4>
        {% endif %}
        {% if cart.discount.enabled %}
          {% if cart.discount.pending %}
          {% elsif cart.discount.free_shipping %}
            <h4>Discount: <span class="small_message">Free shipping!</span></h4>
          {% else %}
            <h4>Discount: <span>- {{ cart.discount.amount | money_with_sign }}</span></h4>
          {% endif %}
        {% endif %}
      {% endif %}
      <h3>Total:  <span>{{ cart.total | money_with_sign }}</span></h3>
      <button type="submit" name="checkout" title="Checkout" class="checkout_btn">Checkout</button>
      <a class="button continue_shopping" href="/products">Continue Shopping</a>
    </div>
  </form>
{% else %}
	<div class="empty_cart">
		<p><strong>Your cart is empty!</strong> Sounds like a good time to <a href="/">start shopping.</a></p>
	</div>
{% endif %}