<div class="custom_content">
  <h1>{{ page.name }}</h1>
  {% if errors != blank %}
    <ul class="errors">
      {% for error in errors %}
        <li>{{ error }}</li>
      {% endfor %}
    </ul>
  {% endif %}
  {% if contact.sent %}
    <p>Your message has been sent and we'll get back to you soon.</p>
  {% else %}
    <form method="post" action="/contact" class="contact_form">
      <div class="contact_name">
        <label for="name">Name</label>
        {{ contact | contact_input: 'name' }}
      </div>
      <div class="contact_email">
        <label for="email">Email</label>
        {{ contact | contact_input: 'email' }}
      </div>
      <div class="contact_subject">
        <label for="subject">Subject</label>
        {{ contact | contact_input: 'subject' }}
      </div>
      <div class="contact_message">
        <label for="message">Message</label>
        {{ contact | contact_input: 'message' }}
      </div>
      <div class="contact_send">
        <button type="submit" name="submit" class="button">Send message</button>
      </div>
      <div class="contact_recaptcha">
        <div class="recaptcha_note">{{ contact.recaptcha }}</div>
      </div>
    </form>
  {% endif %}
</div>