{% if errors != blank %}
  <ul class="errors">
    {% for error in errors %}
      <li>{{ error }}</li>
    {% endfor %}
  </ul>
{% endif %}

{% if theme.image_sets.slideshow_images.size > 0 %}
  {% if theme.image_sets.slideshow_images.size > 1 %}
    <div class="flexslider">
      <ul class="slides">
        {% for image in theme.image_sets.slideshow_images %}
          <li>
            <img
              alt="Slideshow image {{ forloop.index }}"
              class="lazyload"
              src="{{ image.url | constrain: 948 }}"
              data-srcset="
                {{ image.url | constrain: 540 }} 540w,
                {{ image.url | constrain: 948 }} 948w,
                {{ image.url | constrain: 1200 }} 1200w,
                {{ image.url | constrain: 1500 }} 1500w,
                {{ image.url | constrain: 1900 }} 1900w
              "
              data-sizes="auto"
            >
          </li>
        {% endfor %}
      </ul>
      <ul class="flex-nav">
        <li class="flex-nav-prev">
          <button class="flex-nav-button flex-prev" aria-label="Previous image"><svg aria-hidden="true" height="15" width="15" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 7.6 15" enable-background="new 0 0 7.6 15"><path d="M6.4 15l-6.4-7.5 6.3-7.5 1.1 1-5.4 6.5 5.6 6.5z"/></svg></button>
        </li>
        <li class="flex-nav-next">
          <button class="flex-nav-button flex-next" aria-label="Next image"><svg aria-hidden="true" height="15" width="15" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 7.6 15" enable-background="new 0 0 7.6 15"><path d="M1.1 0l6.5 7.5-6.3 7.5-1.2-1 5.5-6.5-5.6-6.5z"/></svg></button>
        </li>
      </ul>
    </div>
  {% else %}
    <div class="welcome_image">
      {% for image in theme.image_sets.slideshow_images limit: 1 %}
        <img
          alt="Welcome image"
          class="lazyload"
          src="{{ image.url | constrain: 948 }}"
          data-srcset="
            {{ image.url | constrain: 540 }} 540w,
            {{ image.url | constrain: 948 }} 948w,
            {{ image.url | constrain: 1200 }} 1200w,
            {{ image.url | constrain: 1500 }} 1500w,
            {{ image.url | constrain: 1900 }} 1900w
          "
          data-sizes="auto"
        >
      {% endfor %}
    </div>
  {% endif %}
{% endif %}
{% if theme.featured_products > 0 %}
  {% paginate products from products.current by theme.featured_products order:theme.featured_order %}
    {% if products != blank %}
      <h1>Featured Products</h1>
      <div class="product-list-container">
        <div class="product-list">
          {% for product in products %}
            {% assign image_width = product.image.width | times: 1.0 %}
            {% assign image_height = product.image.height | times: 1.0 %}
            {% assign aspect_ratio = image_width | divided_by: image_height %}
            {% assign product_status = '' %}
            {% case product.status %}
              {% when 'active' %}
                {% if product.on_sale %}{% assign product_status = 'On sale' %}{% endif %}
              {% when 'sold-out' %}
                {% assign product_status = 'Sold out' %}
              {% when 'coming-soon' %}
                {% assign product_status = 'Coming soon' %}
            {% endcase %}
            {% capture image_class %}
              {% if product.image.height > product.image.width %}
                image-tall
              {% elsif product.image.height < product.image.width %}
                image-wide
              {% else %}
                image-square
              {% endif %}
            {% endcapture %}
            <div class="product-list-thumb {{ product.css_class }}">
              <a class="product-list-link" href="{{ product.url }}" title="View {{ product.name | escape }}">
                <div class="product-list-image-container product-list-image-container-{{ theme.grid_image_style }}">
                  <img
                    alt=""
                    class="blur-up product-list-image lazyload grid-{{ theme.grid_image_style }}"
                    src="{{ product.image | product_image_url | constrain: 20 }}"
                    {% unless theme.grid_image_style == 'default' %}data-aspectratio="{{ aspect_ratio }}"{% endunless %}
                    data-srcset="
                      {{ product.image | product_image_url | constrain: 240 }} 240w,
                      {{ product.image | product_image_url | constrain: 320 }} 320w,
                      {{ product.image | product_image_url | constrain: 400 }} 400w,
                      {{ product.image | product_image_url | constrain: 540 }} 540w,
                      {{ product.image | product_image_url | constrain: 600 }} 600w,
                      {{ product.image | product_image_url | constrain: 800 }} 800w,
                      {{ product.image | product_image_url | constrain: 1000 }} 1000w
                    "
                    data-sizes="auto"
                  >
                </div>
                <div class="product-list-thumb-info">
                  <div class="product-list-thumb-name">{{ product.name }}</div>
                  <div class="product-list-thumb-price">
                    {{ product.default_price | money: theme.money_format }}
                    {% if product_status != blank %}
                      <div class="product-list-thumb-status">{{ product_status }}</div>
                    {% endif %}
                  </div>
                </div>
              </a>
            </div>
          {% endfor %}
        </div>
      </div>
      {% if paginate.pages > 1 %}
        {{ paginate | default_pagination, 'pagination', 'pagination', '<svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" height="20" width="20" viewBox="0 0 7.6 15" enable-background="new 0 0 7.6 15"><path d="M6.4 15l-6.4-7.5 6.3-7.5 1.1 1-5.4 6.5 5.6 6.5z"/></svg> Previous' , 'Next <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" height="20" width="20" viewBox="0 0 7.6 15" enable-background="new 0 0 7.6 15"><path d="M1.1 0l6.5 7.5-6.3 7.5-1.2-1 5.5-6.5-5.6-6.5z"/></svg>' }}
      {% endif %}
    {% else %}
      <p class="no_products">No products found.</p>
    {% endif %}
  {% endpaginate %}
{% endif %}