{% if errors != blank %}
  <ul class="errors">
    {% for error in errors %}
      <li>{{ error }}</li>
    {% endfor %}
  </ul>
{% endif %}

{% if theme.image_sets.slideshow_images.size > 0 %}
  <div class="splide home-slideshow">
    <div class="splide__track">
      <div class="splide__list">
        {% for image in theme.image_sets.slideshow_images %}
          <div class="splide__slide">
            <img
              alt="Slideshow image {{ forloop.index }}"
              class="slideshow-image lazyload "
              src="{{ image.url | constrain: 400 }}"
              {% if forloop.index == 1 %}fetchpriority="high"{% endif %}
              data-srcset="
                {{ image.url | constrain: 600 }} 600w,
                {{ image.url | constrain: 800 }} 800w,
                {{ image.url | constrain: 1400 }} 1400w,
                {{ image.url | constrain: 2000 }} 2000w
              "
              data-sizes="auto"
            >
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endif %}

{% if theme.featured_products > 0 %}
  {% paginate products from products.current by theme.featured_products order:theme.featured_order %}
    {% if products != blank %}
      <h1>{{ theme.featured_header }}</h1>
      <div class="product-list-container">
        <div class="product-list">
          {% for product in products %}
            {% assign image_width = product.image.width | times: 1.0 %}
            {% assign image_height = product.image.height | times: 1.0 %}
            {% assign aspect_ratio = image_width | divided_by: image_height %}
            {% assign product_status = '' %}
            {% case product.status %}
              {% when 'active' %}
                {% if product.on_sale %}{% assign product_status = 'On sale' %}{% endif %}
              {% when 'sold-out' %}
                {% assign product_status = 'Sold out' %}
              {% when 'coming-soon' %}
                {% assign product_status = 'Coming soon' %}
            {% endcase %}
            {% capture status_class %}{% if product.status == 'active' and product.on_sale %}status-primary{% else %}status-secondary{% endif %}{% endcapture %}
            {% capture image_class %}
              {% if product.image.height > product.image.width %}
                image-tall
              {% elsif product.image.height < product.image.width %}
                image-wide
              {% else %}
                image-square
              {% endif %}
            {% endcapture %}
            <div class="product-list-thumb {{ product.css_class }}">
              <a class="product-list-link" href="{{ product.url }}" title="View {{ product.name | escape }}">
                <div class="product-list-image-container product-list-image-container-{{ theme.grid_image_style }}">
                  <img
                    alt=""
                    class="product-list-image blur-up lazyload grid-{{ theme.grid_image_style }}"
                    src="{{ product.image | product_image_url | constrain: 20 }}"
                    {% unless theme.grid_image_style == 'default' %}data-aspectratio="{{ aspect_ratio }}"{% endunless %}
                    data-srcset="
                      {{ product.image | product_image_url | constrain: 240 }} 240w,
                      {{ product.image | product_image_url | constrain: 320 }} 320w,
                      {{ product.image | product_image_url | constrain: 400 }} 400w,
                      {{ product.image | product_image_url | constrain: 540 }} 540w,
                      {{ product.image | product_image_url | constrain: 600 }} 600w,
                      {{ product.image | product_image_url | constrain: 800 }} 800w,
                      {{ product.image | product_image_url | constrain: 1000 }} 1000w
                    "
                    data-sizes="auto"
                  >
                </div>
                <div class="product-list-thumb-info">
                  <div class="product-list-thumb-name">{{ product.name }}</div>
                  <div class="product-list-thumb-price">
                    {% unless product.status == 'sold-out' and theme.show_sold_out_product_prices == false %}
                      {{ product.default_price | money: theme.money_format }}
                    {% endunless %}
                    {% if product_status != blank %}
                      <div class="product-list-thumb-status {{ status_class }}">{{ product_status }}</div>
                    {% endif %}
                  </div>
                </div>
              </a>
            </div>
          {% endfor %}
        </div>
      </div>
      {% if paginate.pages > 1 %}
        {% if theme.all_products_button_text != blank %}
          <a class="button button--centered button--secondary all-products-button" href="/products">{{ theme.all_products_button_text }}</a>
        {% endif %}
      {% endif %}
    {% else %}
      <p class="no_products">No products found.</p>
    {% endif %}
  {% endpaginate %}
{% endif %}