{% assign page_content_width = 968 %}

<h1>{% if page.full_url contains "search=" %}Product Search{% else %}{{ page.name }}{% endif %}</h1>
{% paginate products from products.current by theme.products_per_page %}
  {% if products != blank %}
    <div class="product-list-container">
      <div class="product-list">
        {% for product in products %}
          {% assign image_width = product.image.width | times: 1.0 %}
          {% assign image_height = product.image.height | times: 1.0 %}
          {% assign aspect_ratio = image_width | divided_by: image_height %}
          {% assign product_status = '' %}
          {% case product.status %}
            {% when 'active' %}
              {% if product.on_sale %}{% assign product_status = 'On sale' %}{% endif %}
            {% when 'sold-out' %}
              {% assign product_status = 'Sold out' %}
            {% when 'coming-soon' %}
              {% assign product_status = 'Coming soon' %}
          {% endcase %}
          {% capture image_class %}
            {% if product.image.height > product.image.width %}
              image-tall
            {% elsif product.image.height < product.image.width %}
              image-wide
            {% else %}
              image-square
            {% endif %}
          {% endcapture %}
          <div class="product-list-thumb {{ product.css_class }}">
            <a class="product-list-link" href="{{ product.url }}" title="View {{ product.name | escape }}">
              <div class="product-list-image-container product-list-image-container-{{ theme.grid_image_style }}">
                <img
                  alt=""
                  class="blur-up product-list-image lazyload grid-{{ theme.grid_image_style }}"
                  src="{{ product.image | product_image_url | constrain: 20 }}"
                  {% unless theme.grid_image_style == 'default' %}data-aspectratio="{{ aspect_ratio }}"{% endunless %}
                  data-srcset="
                    {{ product.image | product_image_url | constrain: 240 }} 240w,
                    {{ product.image | product_image_url | constrain: 320 }} 320w,
                    {{ product.image | product_image_url | constrain: 400 }} 400w,
                    {{ product.image | product_image_url | constrain: 540 }} 540w,
                    {{ product.image | product_image_url | constrain: 600 }} 600w,
                    {{ product.image | product_image_url | constrain: 800 }} 800w,
                    {{ product.image | product_image_url | constrain: 1000 }} 1000w
                  "
                  data-sizes="auto"
                >
              </div>
              <div class="product-list-thumb-info">
                <div class="product-list-thumb-name">{{ product.name }}</div>
                <div class="product-list-thumb-price">
                  {{ product.default_price | money: theme.money_format }}
                  {% if product_status != blank %}
                    <div class="product-list-thumb-status">{{ product_status }}</div>
                  {% endif %}
                </div>
              </div>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
    {% if paginate.pages > 1 %}
      <nav class="pagination" aria-label="Pagination">

        <div class="page-arrows">
          {% if paginate.previous.is_link %}
            <a aria-label="Go to previous page" class="page-link page-link--previous" href="{{ paginate.previous.url }}"><svg aria-hidden="true" fill="currentColor" class="arrow" width="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 7.12"><path d="M5.99798228 7.12260396L0 1.12462168 1.12462168 0l4.87565104 4.87529072L10.8753783 0 12 1.12462168 6.00201772 7.12260396l-.001745-.00212061z" fill-rule="evenodd"></path></svg><span>Previous</span></a>
          {% else %}
            <span class="page-link page-link--previous disabled"><svg aria-hidden="true" fill="currentColor" class="arrow" width="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 7.12"><path d="M5.99798228 7.12260396L0 1.12462168 1.12462168 0l4.87565104 4.87529072L10.8753783 0 12 1.12462168 6.00201772 7.12260396l-.001745-.00212061z" fill-rule="evenodd"></path></svg><span>Previous</span></span>
          {% endif %}

          {{ paginate | default_pagination, 'page-numbers', 'page-numbers' }}

          {% if paginate.next.is_link %}
            <a aria-label="Go to next page" class="page-link page-link--next" href="{{ paginate.next.url }}"><span>Next</span><svg aria-hidden="true" fill="currentColor" class="arrow" width="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 7.12"><path d="M5.99798228 7.12260396L0 1.12462168 1.12462168 0l4.87565104 4.87529072L10.8753783 0 12 1.12462168 6.00201772 7.12260396l-.001745-.00212061z" fill-rule="evenodd"></path></svg></a>
          {% else %}
            <span class="page-link page-link--next disabled"><span>Next</span><svg aria-hidden="true" fill="currentColor" class="arrow" width="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 7.12"><path d="M5.99798228 7.12260396L0 1.12462168 1.12462168 0l4.87565104 4.87529072L10.8753783 0 12 1.12462168 6.00201772 7.12260396l-.001745-.00212061z" fill-rule="evenodd"></path></svg></span>
          {% endif %}
        </div>

      </nav>
    {% endif %}

  {% else %}
    <p class="no_products">No products found.</p>
  {% endif %}
{% endpaginate %}