<h1>{% if page.full_url contains "search=" %}Product Search{% else %}{{ page.name }}{% endif %}</h1>
{% paginate products from products.current by theme.products_per_page %}
  {% if products != blank %}
    <ul class="products">
      {% for product in products %}
      <li class="{{ product.css_class }}">
        <a href="{{ product.url }}">
          <img alt="Image of {{ product.name | escape }}" src="{{ product.image | product_image_url | constrain: 600, 600  }}">
          <h4 class="product_name">{{ product.name }}</h4>
          <h5>{{ product.default_price | money: theme.money_format }}</h5>
					{% case product.status %}
						{% when 'active' %}
							{% if product.on_sale %}<span class="status">On Sale</span>{% endif %}
						{% when 'sold-out' %}
							<span class="status">Sold Out</span>
						{% when 'coming-soon' %}
							<span class="status">Coming Soon</span>
					{% endcase %}
        </a>
      </li>
      {% endfor %}
    </ul>
    {% if paginate.pages > 1 %}
      {{ paginate | default_pagination, 'pagination', 'pagination', '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 7.6 15" enable-background="new 0 0 7.6 15"><path d="M6.4 15l-6.4-7.5 6.3-7.5 1.1 1-5.4 6.5 5.6 6.5z"/></svg> Prev' , 'Next <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 7.6 15" enable-background="new 0 0 7.6 15"><path d="M1.1 0l6.5 7.5-6.3 7.5-1.2-1 5.5-6.5-5.6-6.5z"/></svg>' }}
    {% endif %}
  {% else %}
    <p class="no_products">No products found.</p>
  {% endif %}
{% endpaginate %}