<section class="product_pricing">
    <h4>{{ product.default_price | money_with_sign }}{% if product.on_sale %} <em>On Sale{% endif %}</em></h4>
    {% case product.status %}
      {% when 'sold-out' %}
	  	<h5>{{ product.default_price | money_with_sign }} <em>Sold Out</em></h5>

	  {% when 'coming-soon' %}
	  	<h5>{{ product.default_price | money_with_sign }} <em>Coming Soon</em></h5>
	{% endcase %}
</section>

<section class="product_images">
	<a href="{{ product.image | product_image_url }}"><img src="{{ product.image | product_image_url }}" alt="Image of {{ product.name | escape }}" class="primary_image"></a>
	
	{% if product.images.size > 1 %}
	<ul class="product_thumbnails">
	{% for image in product.images %}
	<li{% if forloop.first %} class="selected"{% endif %}><a href="{{ image | product_image_url }}"><img src="{{ image | product_image_url }}" alt="Image of {{ product.name | escape }}"></a></li>
	{% endfor %}
	</ul>
	{% endif %}
</section>

<section class="product_details">
	<div class="product_description">
		{% if product.description != blank %}
			{{ product.description | paragraphs }}
		{% endif %}
	</div>

	{% if product.status == 'active' %}
    <form method="post" action="/cart">
      {% if product.has_default_option %}
      {{ product.option | hidden_option_input }}
      {% else %}
      <div class="select">
        {{ product.options_in_stock | options_select }}
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" width="10.001px" height="6px" viewBox="0 0 10.001 6" xml:space="preserve"><path class="down_arrow" d="M9.852 1.537c0.199-0.189 0.199-0.496 0-0.684L9.135 0.17C8.938-0.02 8.617-0.02 8.4 0.17L5.016 3.5 L1.582 0.143c-0.199-0.189-0.52-0.189-0.717 0L0.148 0.826c-0.197 0.188-0.197 0.5 0 0.684l4.508 4.3 c0.199 0.2 0.5 0.2 0.7 0L9.852 1.537z"/></svg>
      </div>
      {% endif %}

      <button class="button" name="submit" type="submit" title="Add to Cart">Add to Cart</button>
    </form>
	{% endif %}
</section>